@model IEnumerable<MVC_TicariOtomasyon.Models.Siniflar.MiniTablo>
@{
    ViewBag.Title = "BasicTable";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/AdminLTE-3.0.4/plugins/fontawesome-free/css/all.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/AdminLTE-3.0.4dist/css/adminlte.min.css">
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
</head>
<body class="hold-transition sidebar-mini">
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>Detaylı Tablolar</h1>
                        <br />
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6">
                        <!-- ! Şehirlere göre dağılım tablosu-->
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">Şehirlere Göre Dağılım Tablosu</h3>
                            </div>
                            <!-- /.card-header -->
                            <div class="card-body">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th style="width: 10px">#</th>
                                            <th>Şehir</th>
                                            <th>Oran</th>
                                            <th style="width: 50px">Sayı</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{ int siraNo2 = 0; }
                                        @foreach (var k in Model)
                                        {
                                            <tr>
                                                <td>@{siraNo2++;} @siraNo2</td>
                                                <td>@k.Sehir</td>
                                                <td>
                                                    @if (k.Sayi == 1 || k.Sayi == 2 || k.Sayi == 3 || k.Sayi == 4)
                                                    {
                                                        <div class="progress progress-xs">
                                                            <div class="progress-bar progress-bar-danger" style="width: 55%"></div>
                                                        </div>
                                                    }
                                                    @if (k.Sayi == 5 || k.Sayi == 6 || k.Sayi == 7 || k.Sayi == 8)
                                                    {
                                                        <div class="progress progress-xs">
                                                            <div class="progress-bar progress-bar-warning" style="width: 70%"></div>
                                                        </div>
                                                    }
                                                    @if (k.Sayi >= 9)
                                                    {
                                                        <div class="progress progress-xs">
                                                            <div class="progress-bar progress-bar-success" style="width: 70%"></div>
                                                        </div>
                                                    }
                                                </td>
                                                <td>
                                                    @if (k.Sayi == 1 || k.Sayi == 2 || k.Sayi == 3 || k.Sayi == 4)
                                                    {
                                                        <span class="badge bg-info">@k.Sayi</span>
                                                    }
                                                    @if (k.Sayi == 5 || k.Sayi == 6 || k.Sayi == 7 || k.Sayi == 8)
                                                    {
                                                        <span class="badge bg-info">@k.Sayi</span>
                                                    }
                                                    @if (k.Sayi >= 9)
                                                    {
                                                        <span class="badge bg-info">@k.Sayi</span>
                                                    }
                                                </td>

                                            </tr>
                                        }

                                    </tbody>
                                </table>
                            </div>
                            <!-- /.card-body -->
                        </div>
                        <!-- /.card -->
                        <!-- /.card -->
                    </div>
                    <!-- /.col -->
                    <div class="col-md-6">
                        <!-- ! Departman Personel Sayısı PartialView üzerinden alıyor-->
                        @Html.Action("Partial1", "Tablo")
                        <!-- /.card -->
                        <!-- /.card -->
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
                
                <!-- /.row -->
            </div><!-- /.container-fluid -->
        </section>
        <!-- /.content -->
        <br />
    </div>
    <!-- ./wrapper -->
    <!-- jQuery -->
    <script src="~/AdminLTE-3.0.4/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="~/AdminLTE-3.0.4/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/AdminLTE-3.0.4/dist/js/adminlte.min.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="~/AdminLTE-3.0.4/dist/js/demo.js"></script>
</body>
</html>

