@using MVC_TicariOtomasyon.Models.Siniflar
@model List<Personel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Personeller</h2>
<br />
<table id="tbl5" class="table table-bordered" style="margin-top:20px;">
    <thead>
        <tr>
            <th>Personel ID</th>
            <th>Personel Adı & Soyadı</th>
            <th>Personel Görsel</th>
            <th>Departmanı</th>
            <th>Güncelle</th>
            <th>Satışlar</th>
        </tr>
    </thead>
    @foreach (var k in Model)
    {
        <tr>
            <td>@k.PersonelID</td>
            <td>@k.PersonelAd @k.PersonelSoyad</td>
            <td>@k.PersonelGorsel</td>
            <td>@k.Departman.DepartmanAd</td>
            <td><a href="/Personel/PersonelGetir/@k.PersonelID" class="btn btn-success">Güncelle</a></td>
            <td><a href="/Departman/PersonelSatisDetay/@k.PersonelID" class="btn btn-danger" style="background-color:orangered;">Satışlar</a></td>
        </tr>
    }
</table>

<a href="/Personel/PersonelEkle" class="btn btn-primary">Personel Ekle</a>

@*CSS PART*@
<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css" rel="stylesheet" />
<link rel="stylesheet" type="text/css" href="~/Content/DataTables/css/dataTables.bootstrap4.min.css" />

@*JS PART*@
<script src="https://code.jquery.com/jquery-3.5.1.js"
        integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
        crossorigin="anonymous"></script>
<script type="text/javascript" src="~/Content/DataTables/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="~/Content/DataTables/js/dataTables.bootstrap4.min.js"></script>


<script>
    $('#tbl5').DataTable();
</script>
