@model MVC_TicariOtomasyon.Models.Siniflar.Personel
@{
    ViewBag.Title = "PersonelEkle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Personel Ekleme Sayfası</h2>
<br />

<form method="post" class="form-group">

    @Html.HiddenFor(x => x.PersonelID)
    @Html.LabelFor(x => x.PersonelAd)
    @Html.TextBoxFor(x => x.PersonelAd, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.PersonelAd, "", new { @style = "color:red" })
    <br />
    @Html.LabelFor(x => x.PersonelSoyad)
    @Html.TextBoxFor(x => x.PersonelSoyad, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.PersonelSoyad, "", new { @style = "color:red" })
    <br />
    @Html.LabelFor(x => x.PersonelGorsel)
    @Html.TextBoxFor(x => x.PersonelGorsel, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.PersonelGorsel, "", new { @style = "color:red" })
    <br />
    @Html.LabelFor(x => x.Departman)
    @Html.DropDownListFor(x => x.DepartmanID, (List<SelectListItem>)ViewBag.val, new { @class = "form-control" })
    <br />
    <button class="btn btn-info">Kaydet</button>
</form>