@using MVC_TicariOtomasyon.Models.Siniflar
@model List<Personel>
@{
    ViewBag.Title = "Personel";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/AdminLTE-3.0.4/plugins/fontawesome-free/css/all.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- overlayScrollbars -->
    <link rel="stylesheet" href="~/AdminLTE-3.0.4/dist/css/adminlte.min.css">
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
</head>
<body class="hold-transition sidebar-mini">
    <h2>Personel Listesi</h2>
    <br />
    <!-- Default box -->
    <div class="card card-solid">
        <div class="card-body pb-0">
            <div class="row d-flex align-items-stretch">
                @{ int telefonSonHane = 10; }
                @foreach (var k in Model)
                {
                    <div class="col-12 col-sm-6 col-md-4 d-flex align-items-stretch">
                        <div class="card bg-light">

                            <div class="card-body">

                                <div class="row">
                                    <div class="col-8">
                                        <h4><b>@k.PersonelAd @k.PersonelSoyad</b></h4>
                                        <p class="text-muted text-sm"><b>Departman: </b> @k.Departman.DepartmanAd </p>
                                        <ul class="ml-4 mb-0 fa-ul text-muted">
                                            <li class="small"><span class="fa-li"><i class="fas fa-lg fa-building"></i></span> Departman Adres: X Şirketi @k.Departman.DepartmanAd Ofisi,<br />İstanbul-Türkiye</li>
                                            <li class="small"><span class="fa-li"><i class="fas fa-lg fa-phone"></i></span> Telefon No : +90 545 312 75 @{telefonSonHane++;}@telefonSonHane</li>
                                        </ul>
                                    </div>
                                    <div class="col-4 text-center">
                                        <img src="@k.PersonelGorsel" alt="" class="img-wrap img-fluid">
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer">
                                <div class="text-left">
                                    <a href="Personel/PersonelGetir/@k.PersonelID" class="btn btn-sm btn-success">
                                        <i class="fas fa-edit"></i>&nbsp Güncelle
                                    </a>
                                    <a href="/Departman/PersonelSatisDetay/@k.PersonelID" class="btn btn-sm btn-primary">
                                        <i class="fas fa-info-circle"></i>&nbsp Personel Satış Detay
                                    </a>
                                </div>

                            </div>


                        </div>
                    </div>
                }
            </div>

        </div>
        <!-- /.card-body -->

    </div>

    <br />
    <a href="/Personel/PersonelEkle" style="margin-left:50%" class="btn btn-primary">Yeni Personel Ekle</a>
    <!-- /.card -->
    <!-- jQuery -->
    <script src="~/AdminLTE-3.0.4/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="~/AdminLTE-3.0.4/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/AdminLTE-3.0.4/dist/js/adminlte.min.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="~/AdminLTE-3.0.4/dist/js/demo.js"></script>
</body>
</html>


